<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>gshock</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PublicIndexController</servlet-name>
    <servlet-class>controller.PublicIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicIndexController</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCatController</servlet-name>
    <servlet-class>controller.AdminIndexCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCatController</servlet-name>
    <url-pattern>/admin/cats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddCatController</servlet-name>
    <servlet-class>controller.AdminAddCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddCatController</servlet-name>
    <url-pattern>/admin/cat/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditCatController</servlet-name>
    <servlet-class>controller.AdminEditCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditCatController</servlet-name>
    <url-pattern>/admin/cat/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCatController</servlet-name>
    <servlet-class>controller.AdminDelCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCatController</servlet-name>
    <url-pattern>/admin/cat/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexClockController</servlet-name>
    <servlet-class>controller.AdminIndexClockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexClockController</servlet-name>
    <url-pattern>/admin/clocks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddClockController</servlet-name>
    <servlet-class>controller.AdminAddClockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddClockController</servlet-name>
    <url-pattern>/admin/clock/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexCommentController</servlet-name>
    <servlet-class>controller.AdminIndexCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexCommentController</servlet-name>
    <url-pattern>/admin/comments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelCommentController</servlet-name>
    <servlet-class>controller.AdminDelCommentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelCommentController</servlet-name>
    <url-pattern>/admin/comment/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexContactController</servlet-name>
    <servlet-class>controller.AdminIndexContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexContactController</servlet-name>
    <url-pattern>/admin/contacts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelContactController</servlet-name>
    <servlet-class>controller.AdminDelContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelContactController</servlet-name>
    <url-pattern>/admin/contact/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <servlet-class>controller.AdminIndexNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexNewsController</servlet-name>
    <url-pattern>/admin/newss</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddNewsController</servlet-name>
    <servlet-class>controller.AdminAddNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddNewsController</servlet-name>
    <url-pattern>/admin/news/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditNewsController</servlet-name>
    <servlet-class>controller.AdminEditNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditNewsController</servlet-name>
    <url-pattern>/admin/news/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelNewsController</servlet-name>
    <servlet-class>controller.AdminDelNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelNewsController</servlet-name>
    <url-pattern>/admin/news/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexUserController</servlet-name>
    <servlet-class>controller.AdminIndexUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexUserController</servlet-name>
    <url-pattern>/admin/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddUserController</servlet-name>
    <servlet-class>controller.AdminAddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddUserController</servlet-name>
    <url-pattern>/admin/user/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditUserController</servlet-name>
    <servlet-class>controller.AdminEditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditUserController</servlet-name>
    <url-pattern>/admin/user/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelUserController</servlet-name>
    <servlet-class>controller.AdminDelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelUserController</servlet-name>
    <url-pattern>/admin/user/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexDiscController</servlet-name>
    <servlet-class>controller.AdminIndexDiscController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexDiscController</servlet-name>
    <url-pattern>/admin/discs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminAddDiscController</servlet-name>
    <servlet-class>controller.AdminAddDiscController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddDiscController</servlet-name>
    <url-pattern>/admin/disc/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditDiscController</servlet-name>
    <servlet-class>controller.AdminEditDiscController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditDiscController</servlet-name>
    <url-pattern>/admin/disc/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelDiscController</servlet-name>
    <servlet-class>controller.AdminDelDiscController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelDiscController</servlet-name>
    <url-pattern>/admin/disc/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminEditClockController</servlet-name>
    <servlet-class>controller.AdminEditClockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditClockController</servlet-name>
    <url-pattern>/admin/clock/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminDelClockController</servlet-name>
    <servlet-class>controller.AdminDelClockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelClockController</servlet-name>
    <url-pattern>/admin/clock/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicCatController</servlet-name>
    <servlet-class>controller.PublicCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicCatController</servlet-name>
    <url-pattern>/cats</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDetailController</servlet-name>
    <servlet-class>controller.PublicDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDetailController</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicNewsController</servlet-name>
    <servlet-class>controller.PublicNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicNewsController</servlet-name>
    <url-pattern>/newss</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicTorderDetailController</servlet-name>
    <servlet-class>controller.PublicTorderDetailController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicTorderDetailController</servlet-name>
    <url-pattern>/torderdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicTordersController</servlet-name>
    <servlet-class>controller.PublicTordersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicTordersController</servlet-name>
    <url-pattern>/torders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicSuccessfulController</servlet-name>
    <servlet-class>controller.PublicSuccessfulController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSuccessfulController</servlet-name>
    <url-pattern>/successful</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicHuyenController</servlet-name>
    <servlet-class>controller.PublicHuyenController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicHuyenController</servlet-name>
    <url-pattern>/diachihuyen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicXaController</servlet-name>
    <servlet-class>controller.PublicXaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicXaController</servlet-name>
    <url-pattern>/diachixa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicSearchController</servlet-name>
    <servlet-class>controller.PublicSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicSearchController</servlet-name>
    <url-pattern>/timkiem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexController</servlet-name>
    <servlet-class>controller.AdminIndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexController</servlet-name>
    <url-pattern>/admin/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLoginController</servlet-name>
    <servlet-class>controller.AuthLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLoginController</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthLogoutController</servlet-name>
    <servlet-class>controller.AuthLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthLogoutController</servlet-name>
    <url-pattern>/admin/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminIndexDeliverysController</servlet-name>
    <servlet-class>controller.AdminIndexDeliverysController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndexDeliverysController</servlet-name>
    <url-pattern>/admin/deliverys</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PublicPrintDeliverysController</servlet-name>
    <servlet-class>controller.PublicPrintDeliverysController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicPrintDeliverysController</servlet-name>
    <url-pattern>/admin/delivery/print</url-pattern>
  </servlet-mapping>
</web-app>